{% extends 'base.html' %}



{% block content %}

<!-- Hero Banner -->
<section class="hero-banner position-relative" style="height: 150px; width: 100vw; background: url('path-to-your-image.jpg') no-repeat center center / cover, rgba(0, 0, 0, 0.7); color: white; margin-left: calc(-50vw + 50%);">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.7);">
        <div class="text-container text-center text-light">
            <h1>Checkout</h1>
            <p class="mb-0" style="font-size: 1rem;">Review Your Order...</p>
        </div>
    </div>
</section>
    <br/>
  
    <div class="container">
      <div class="row">    
          <div class="col-md-6 offset-md-3">

            <div class="card">
              <div class="card-header">
                <strong>Order summary</strong>
              </div>
              <div class="card-body">
                {% for product in cart_products %}
                  {{ product.name }}:
                  &nbsp;
                  {% if product.is_sale %}
                    ${{ product.sale_price }}
                  {% else %}
                    ${{ product.price }}
                  {% endif %}

                  <br/>
                  <small>Quantity:
                  {% for key, value in quantities.items %}

                    {% if key == product.id|slugify %}
                      {{ value }}
                    {% endif %}

                  {% endfor %}</small>
                  <br/><br/>
                {% endfor %}
                <strong>Total:  ${{ totals }}</strong>

                <br/><br/>
                <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
              </div>
            </div>
            <br/><br/>
              <div class="card">
                <div class="card-header">
                  <strong>Shipping info</strong>
                </div>
                <div class="card-body">
                  {{ shipping_form.as_p }}


                </div>
              </div>
              <br/>
              <a href="#" class="btn btn-secondary">Continue to Billing</a>
            

          </div>
         
      </div>

    </div>

    <br/><br/>
    <br/><br/>
    



{% endblock %}