<!-- Updated Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src=" " alt="..." width="30" height="30" class="d-inline-block align-text-top"> 
            Inkmaster
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoriesDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All products</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Aftercare-products' %}">Aftercare products</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Tatto-kits' %}">Tattoo kits</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Power-supplies' %}">Power supplies</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'inks' %}">Inks</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Tattoo-Needles-and-Cartridges' %}">Tattoo Needles and Cartridges</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Tattoo-Machines' %}">Tattoo Machines</a></li>
                    </ul>
                </li>
             </ul>
              <ul class="navbar-nav ms-5">
                <li class="nav-item">
                    <a class="nav-link position-relative" href="#">
                        <i class="bi bi-cart-fill"></i> <!-- Cart icon -->
                        Cart
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3 <!-- Example count -->
                        </span>
                    </a>
                </li>
               </ul>
            
        </div>
    </div>
</nav>
