{% extends 'base.html' %}



{% block content %}

<!-- Hero Banner -->
<section class="hero-banner position-relative" style="height: 150px; width: 100vw; background: url('path-to-your-image.jpg') no-repeat center center / cover, rgba(0, 0, 0, 0.7); color: white; margin-left: calc(-50vw + 50%);">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.7);">
        <div class="text-container text-center text-light">
            <h1 class="h3 mb-1" style="font-family: 'Graffiti', sans-serif;">Shopping cart</h1>
            <p class="mb-0" style="font-size: 1rem;">view Your Cart...</p>
        </div>
    </div>
</section>


</br></br></br></br></br></br></br>

{% endblock %}
