{% extends 'base.html' %}



{% block content %}

<!-- Hero Banner -->
<section class="hero-banner position-relative" style="height: 150px; width: 100vw; background: url('path-to-your-image.jpg') no-repeat center center / cover, rgba(0, 0, 0, 0.7); color: white; margin-left: calc(-50vw + 50%);">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.7);">
        <div class="text-container text-center text-light">
            <h1 class="h3 mb-1" style="font-family: 'Graffiti', sans-serif;">Shopping cart</h1>
            <p class="mb-0" style="font-size: 1rem;">view Your Cart...</p>
        </div>
    </div>
</section>
    <br/>
    <div class="container">
    {% if cart_products %}

        {% for product in cart_products %}


           <div class="card mb-3">
        
  <div class="row g-1">
    <div class="col-md-3">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <br/>
        <p class="card-text">{{ product.description }}</p>
        
        {% if product.is_sale %}
        
                        
                          <div class="d-flex justify-content-center mb-2">
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-warning">&#9733;</span>
                        <span class="text-secondary">&#9733;</span>
                    </div>
                        <p class="card-text"><strike>${{ product.price }}</strike> &nbsp; ${{ product.sale_price }} </p>
        
        {% else %}
            ${{ product.price }}
            
        
        {% endif %}

        <br/>
        <br/>
        <div class="row justify-content-center">
          <div class="col-md-2">Quantity</div>
          <div class="col-md-2">
              <select class="form-select form-select-sm" id="qty-cart">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              </select>
            </div>
          </div>


        <br/>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
      </center>
      </div>
    </div>
  </div>
</div><br/>

        {% endfor %}
    {% else %}
     THeres nothing in your cart
     </br></br></br></br></br></br></br>
  
    {% endif %}
    </div>
</br></br></br></br></br></br></br>

{% endblock %}
